@model HaberPortalFinal.ViewModels.NewsModel

@{
    ViewData["Title"] = "Düzenle";
    Layout = "_layoutAdminLTE";
}

<h1 style="margin-left:270px">Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin-left:270px">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3" id="Description" name="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="10" id="Content" name="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhotoFile"></label>
                <input asp-for="PhotoFile" class="form-control" />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-danger">Geri Dön</a>
            </div>
        </form>
    </div>
</div>


