<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HaberPortalFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HaberPortalFinal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/navstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ab132b;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="News" asp-action="Scan"><img src="/adminLayoutPhotos/haberportal.png" style="height:70px; margin-left:15px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" id="trt">
                        <li class="nav-item" style="margin-left:15px">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Scan">HABERLER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Nation">GÜNDEM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Global">DÜNYA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Sport">SPOR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Economy">EKONOMİ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Politics">SİYASET</a>
                        </li>
                    </ul>
                    <form asp-controller="News" asp-action="Scan" method="post">
                        <div>
                            <input type="text" name="SearchString" placeholder="Haber Başlığı Giriniz" />
                            <button class="btn btn-primary btn-sm" type="submit" style="float:right; margin:0px 8px 1px 8px">Ara</button>
                        </div>
                    </form>
                    <partial name="_LoginPartial"></partial>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
